.border {
    --bs-border-color: #dee2e600 !important;
}

a {
    color: #7314d3d9 !important;
    text-decoration: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}