.container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.border {
    --bs-border-color: #093e7200 !important;
    box-shadow: 0 0 10px 0 rgba(41, 43, 168, 0.178);
}

a {
    color: #dfdee0d9 !important;
    text-decoration: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

nav {
    margin-top: 1%;
    z-index: 3 !important;
}

.container-fluid {
    padding: 0 !important;
}