.border {
    --bs-border-color: #dee2e600 !important;
}

a {
    color: #dfdee0d9 !important;
    text-decoration: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
}